{% extends '_base.html' %}

{% load crispy_forms_tags %}

{% block title %} order {% endblock title %}


{% block content %}

        {% include 'topheader.html' with header_name='order'%}


        <!-- Main Content Wrapper Start -->
        <div class="main-content-wrapper">
            <div class="page-content-inner">
                <div class="container">
                    <div class="row pt--50 pt-md--40 pt-sm--20"></div>
                    <div class="row pb--80 pb-md--60 pb-sm--40">
                        <!-- Checkout Area Start -->  
                        <div class="col-lg-6">
                            <div class="checkout-title mt--10">
                                <h2>product detail</h2>
                            </div>
                            <div class="checkout-form">
                                <form action="" method="post" class="form form--checkout">
                                    {% csrf_token %}

                                    {% if form.errors %}
                                        <div class="alert alert-danger">
                                            {{form.errors}}
                                        </div>
                                    {% endif %}
                                    <div class="form-row mb--20">
                                        <div class="form__group col-md-6 mb-sm--30">
                                            <label for="billing_fname" class="form__label form__label--2">first name  <span class="required">*</span></label>
                                            <input type="text" name="first_name" id="billing_fname" class="form__input form__input--2" placeholder="Ali">
                                        </div>
                                        <div class="form__group col-md-6">
                                            <label for="billing_lname" class="form__label form__label--2"> last name  <span class="required">*</span></label>
                                            <input type="text" name="last_name" id="billing_lname" class="form__input form__input--2" placeholder="ALavi">
                                        </div>
                                    </div>
                                    <div class="form-row mb--20">
                                        <div class="form__group col-12">
                                            <label for="billing_company" class="form__label form__label--2">address</label>
                                            <input type="text" name="address" id="billing_company" class="form__input form__input--2" placeholder="your address">
                                        </div>
                                    </div>
                                    <div class="form-row mb--20">
                                        <div class="form__group col-12">
                                            <label for="billing_phone" class="form__label form__label--2">phon number  <span class="required">*</span></label>
                                            <input type="text" name="phon_number" id="billing_phone" class="form__input form__input--2" placeholder="0922 123 4567">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form__group col-12">
                                            <label for="orderNotes" class="form__label form__label--2"> your nots</label>
                                            <textarea class="form__input form__input--2 form__input--textarea" id="order_nots" name="orderNotes" placeholder="write your not"></textarea>
                                        </div>
                                    </div>
                                    <button class="btn btn-success" type="submit">submit</button>
                                </form>

                                {% comment %} <form action="">
                                    {% csrf_token %}
                                    {{forms | crispy}}
                                    
                                    <button class="btn btn-small btn-bg-red btn-color-white btn-hover-2" type="submit">checkout</button>
                                </form> {% endcomment %}
                            </div>
                        </div>
                        <div class="col-xl-5 offset-xl-1 col-lg-6 mt-md--40">
                            <div class="order-details">
                                <div class="checkout-title mt--10">
                                    <h2>your orders</h2>
                                </div>
                                <div class="table-content table-responsive mb--30">
                                    <table class="table order-table order-table-2">
                                        <thead>
                                            <tr>
                                                <th>product</th>
                                                <th class="text-right">total price</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            {% for item in cart %}
                                            <th> {{ item.product_obj.title | truncatewords:2}}
                                                <strong><span>&#10005;</span> {{item.quantity}}</strong>
                                            </th>
                                            <td class="text-right">{{item.total_price}}</td>
                                            </tr>
                                            {% endfor %}
                                            <tr>
                                        </tbody>
                                        <tfoot>

                                            
                                            <tr class="cart-subtotal">
                                                
                                                <th>total</th>
                                                <td class="text-right">{{cart.get_total_price}}$</td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                                <div class="checkout-payment">
                                    <h2 class="py-5">روش پرداخت</h2>
                                    <form action="#" class="payment-form">
                                        <div class="payment-group mb--10">
                                            <div class="payment-radio">
                                                <input type="radio" value="bank" name="payment-method" id="bank" checked>
                                                <label class="payment-label" for="cheque">درگاه آنلاین زرین پال</label>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- Checkout Area End -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Main Content Wrapper Start -->

{% endblock content %}